<body>
<style>

h1 {
    color: #FCFCFC;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.button {
    background-color: #7E9095;
    color: #fff;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button {
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
border: 1px solid #000000;
border-radius: 10px;
}

button:hover {
background-color: #B8B7B7;
}

button:hover {
    transform: translateY(-5px);
}
        
button {
width: 120px;
height: 20px;
}

.button:active {
    transform: scale(0.95);
    background-color: #095A74;
}
        
ul.navbar {
    margin: 0;
    padding: 0;
    background-color: #0A4C76;
    overflow: hidden;
}

@media (max-width: 768px) {
button {
width: 60%;
margin: 10px 0;
}
}

</style>
</body>



