.button-container
 {display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;}

body
 { background-color: #095A74;
    color: white;
    font-family: Arial, sans-serif;}

header 
{ background-color: #04374A;
    color: #fafafa;
    padding: 1px 0;
    text-align: center;}

footer 
{ background-color: #373737;
    color: #fff;
    padding: 20px 0;
    text-align: center; }

.tekst-container
{ padding: 10px}

body 
{ font-family: Arial, sans-serif;
    text-align: center;}

body 
 { margin: 0;
    padding: 0;
    background-image: url('Blue-Abstract-Texture-Transparent-Background.png');
    background-size: cover;}


